* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    
}

h1,
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.section-flex {
    display: flex;
    flex-wrap: wrap;
}

.character {
    width: 25%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 4.5%;
    border: 2px yellow solid;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: black;
}


.character img {
    width: 50%;
    border-radius: 1%;
    transition: 1s;
    object-fit: cover;
}

.character img:hover {
    transform: scale(1.08);
}


footer {
    background-color: black;
    color: rgb(63, 44, 241);
    height: 50%;
    text-align: center;
    padding: 1%;
}

.info-character {
    text-align: justify;
    margin: 2%;
}

h2{
    font-weight: bold;
}

.img-normalizada{
	width: 300px;
	height: 200px;
	object-fit: cover;
}




